<section class="group-page">
    <nav>
        <%= form_with(url: destroy_user_session_path, method: :delete, local: false) do |form| %>
        <button type="submit" class="nav-link">Logout</button>
      <% end %>
    </nav>
    <h1> Pagina de groups para el user <%=@current_user.name%> </h1>
    <div class="group-card-container" >
    <% @groups.each do |group| %>
        <div class="card-container">
            <img src=<%= group.icon%> class="group-icon">
            <div>
                <p> <%= group.name %> </p>
            </div>
        </div>
    
    <% end %>

    </div>

    <div class="group-button-container">
        <a href="/groups/new" class="button"> Crear grupo </a>
    </div>

</section>


