
<%= render 'shared/ripple' %>
  <header>
    <h1>Spend Smart Sidekick</h1>
  </header>

  <main>

    <section class="cta-buttons">
      <a href="/users/sign_in" class="btn">Sign In</a>
      <a href="/users/sign_up" class="btn">Sign_up</a>
    </section>
  
    <section class="hero">
      <%= image_tag("budget-icon.png", alt: "Main Budget icon")%>
    </section>

  </main>

  <footer>
    <p>&copy; 2023 Spend Smart Sidekick. All rights reserved.</p>
  </footer>