body{
    background: #3778c2;
    overflow-x: hidden;
    overflow-y: hidden;
}

  header h1 {
    text-align: center;
    padding: 20px;
    color: #ffA500;
    font-size: 4rem;

  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 70vh;
  }
  
  .hero img {
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: floatAnimation 3s infinite alternate; 
}

@keyframes floatAnimation {
    from {
        transform: translateY(0); 
    }
    to {
        transform: translateY(50px); 
    }
}
  
  .cta-buttons {
    margin-top: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    font-size: 1rem;
    color: #f0f0f0;
    background-color: #289c28;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  footer {
    position: absolute; /* Cambia a posición absoluta */
    bottom: 0; /* Coloca el pie de página en la parte inferior de la ventana */
    width: 100%; /* Ajusta el ancho al 100% */
    text-align: center;
    padding: 10px;
    color: black;
    z-index: 1;
    }
  
  
  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
    z-index: -1;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }
  